/* button styling */

.btn-board {
	height: 150px;
}

/* titlebar styling */

.titlebar-spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.board-col {
  margin-top: 30px;
}

.savebtn-spacing {
	margin-top: 30px;
	margin-bottom: 50px;
}

.boardpage-bgcolor {
	background-color: black;
}