/* button styling */

.btn-board {
  height: 150px;
}

.btn-hoverdarken:hover {
  opacity:0.7;
}

.link-nounderline:hover {
  text-decoration: none;
}

/* titlebar styling */

.titlebar-spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.titlebar-bgcolor {
  background-color: SlateBlue;
}

.board-col {
  margin-top: 30px;
}

.savebtn-spacing {
  margin-top: 10px;
}

.boardpage-bgcolor {
  background-color: RosyBrown;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boardpage-createlistspacing {
  margin-top: -10px;
}

.boardpage-listnamespacing {
  margin-bottom: 20px;
}

.boardpage-listborder {
  border-style: solid;
  border-color: Black;
  border-radius: 6px;
}

.boardpage-cardbgcolor {
  background-color: lavender;
}

.boardpage-cardborder {
  border-style: solid;
  border-color: DarkSalmon;
  border-radius: 5px;
}

.boardpage-cardspacing {
  margin-bottom: 10px;
}