/* button styling */

.btn-board {
  height: 150px;
}

.btn-hoverdarken:hover {
  opacity:0.7;
}

.link-nounderline:hover {
  text-decoration: none;
}

/* titlebar styling */

.titlebar-spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.board-col {
  margin-top: 30px;
}

.savebtn-spacing {
  margin-top: 10px;
}

.boardpage-createlistspacing {
  margin-top: -10px;
}

.boardpage-listnamespacing {
  margin-bottom: 20px;
}

.boardpage-listborder {
  border-style: solid;
  border-color: Black;
  border-radius: 6px;
}

 .boardpage-bgcolor {
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
}

.boardpage-cardbgcolor {
  background-color: lavender;
}

.boardpage-listbgcolor {
  background-color: #E2E4E6;
}

.boardpage-cardborder {
  border-style: solid;
  border-color: DarkSalmon;
  border-radius: 5px;
}

.boardpage-cardspacing {
  margin-bottom: 10px;
}

.font-black {
  color: black;
}

.home-textcolor {
  color: #0079bf;
}