body {
	background-color: white;
  font-size: 16px;
  color: white;
}

.body {
	margin: 50px 0px;
}

.titlebar {
	background-color: #026AA7;
}

.title {
	font-family: cursive;
	color: lightblue;
	text-align: center;
}

.personalboardstitle {
	color: black;
  text-align: left;
  margin: 0px 100px;
  font-weight: 700;
}

.askfornewboardbutton {
  color: black;
  text-align: center;
  margin: 15px 95px;
  height: 100px;
  width: 300px;
}

.createnewboardbutton {
	color: black;
	background-color: white;
  margin: 15px 95px; 
  height: 300px;
  width: 310px;
  border-style: ridge;
  padding: 7px;
  font: Helvetica;
}

.boardcreateheader {
	text-align: center;
	color: grey;
	margin: -15px, 0px;
  font: Helvetica;
}

.boardtitleheader {
  text-align: left;
  font: Helvetica;
}

.boardinput {
	text-align: left;
	background-color: white;
	width: 290px;
	height: 25px;
	border-style: ridge;
	border-color: lightblue;
	margin: -15px 0px;
	font: Helvetica;
}

.boardteamheader {
	font: Helvetica;
	margin: 10px 0px;
}

.boardteamp {
	margin: -17px 0px;
	font: Helvetica;
}

.boardcreateteamlink {
	text-decoration: none;
	font: Helvetica;
}

.boardcreatebutton {
	margin: 40px 0px;
	width: 105px;
	height: 35px;
	background-color: #5AAC44;
	color: white;
	font: Helvetica;
	font-size: 14px;
	border-style: ridge;
	border-color: white;
}

.board {
  color: white;
  background-color: black;
  margin: 15px 95px;
  height: 100px;
  width: 300px;
  font-size: 18px;
}

.boardtext {
}